/**** MEDIA QUERY - 1024 PX ****/
@media screen and (max-width: 1023px) {
    .mousePadspan {

        background-color: rgba(0, 0, 0, 0.7);
    }
    .mouse__Pad {
        display: block;
        font-size: 2vh;
        text-align: center;
        color: rgb(255, 255, 255);
        text-shadow: 3px 3px rgb(0, 0, 0), -5px 0 8px rgb(0, 0, 0);
        padding: 1px 10PX;
        align-content: center;
        margin-bottom: -35px;
    }
    /* ------------ COMIENZO FORMULARIO ------------ */
    .h3_prueba {
        margin-top: 20px;
        color: #ffffffe3;
        font-family: "Poppins", Sans-serif;
        font-size: 15px;
        font-weight: bold;
        text-transform: capitalize;
        line-height: 1.7em;
        letter-spacing: 5.5px;
        text-shadow: 9px -4px 6px #000000;
    }

    .h2_prueba {

        margin-top: 20px;
        color: #ffffffe3;
        font-family: "Poppins", Sans-serif;
        font-size: 15px;
        font-weight: bold;
        text-transform: capitalize;
        line-height: 1.7em;
        letter-spacing: 3.5px;
        text-shadow: 9px -4px 6px #000000;
    }

    .h1_prueba {
        margin-top: 12px;

        color: #72b9ffe3;
        font-family: "Poppins", Sans-serif;
        font-size: 40px;
        font-weight: bold;
        text-transform: capitalize;
        line-height: 1.7em;
        letter-spacing: 6.5px;
        text-shadow: 9px -4px 6px #000000;
    }

    .h2_ahora12 {
        color: #EAF32E;
        font-family: "Poppins", Sans-serif;
        font-size: 30px;
        font-weight: bold;
        line-height: 1.1em;
        letter-spacing: 20px;
        text-shadow: 9px 4px 6px rgba(0, 0, 0, 0.9);
    }

    /* ********* PAGINA DE CONTACTO - TITULO ********* */

    .titulo_contacto {
        text-align: center;
        padding: 3px 3px 3px 3px;
    }

    .contacto__h1 {
        color: black;
    }

    /* ------- BOX CONTACTO (TEXTO + FORMULARIO) -------*/
    /* Contenedor de todo el bloque */

    .contactoFlexCaja {

        display: flex;
        flex-direction: row;
        background-color: rgb(255, 255, 255);
        padding: 1%;
        height: 800px;

    }

    .contactoCaja1 {
        /*------- Contenedor del contenido principal------- */
        display: block;
        align-content: center;
        background-color: rgb(255, 255, 255);
        padding: 1rem;
        height: 100%;
    }

    .contacto {
        /* -------Contenedor del texto Contacto------- */
        display: block;
        width: 100%;
        justify-content: center;
        padding: 15px;
        border: violet solid 1px;
        margin-bottom: 30px;
        border-radius: 15px;
    }

    /* ********* HIJOS CONTACTO ********* */
    .contacto__titulos {
        margin-bottom: 2rem;
        text-align: center;
    }

    .contacto__titulos1 {
        padding: 2px;
        color: blue;
        text-align: left;
    }

    .contacto__titulos2 {
        padding: 2px;
        color: rgb(218, 21, 21);
        text-align: left;
    }

    /* ********* NOSOTROS  ********* */
    .nosotrosFlex {
        display: block;
        background-color: rgb(255, 255, 255);
        padding: 3%;
        margin-top: 3px;
    }

    .nosotros__titulos {
        padding: 2px;
        margin-bottom: 2rem;
        text-align: center;
        font-size: 30px;
    }

    .nosotros__titulos1 {
        padding: 30px;
        color: blue;
        text-align: center;
        margin-top: 3%;

    }

    .nosotros__titulos2 {
        padding: 80px;
        color: rgb(218, 21, 21);
        text-align: center;
        margin: 1%;
        font-size: 20px;
    }

    .nosotros--fondo1 {
        background-color: black;
        color: white;
    }

    .nosotros--fondo2 {
        background-color: rgb(55, 55, 55);
        color: white;
    }

    .imagNosotros {
        display: flex;
        width: 20%;
        height: 47%;
        margin-left: 40%;
        margin-bottom: 5%;
    }

    /* -------Comienzo Arma Tu PC - Logos -------*/
    .cajaFlexATPC {

        display: flexbox;
        position: relative;
    }

    .seccion {
        display: block;
        background-color: rgb(255, 255, 255);
        padding: 1rem;
        width: 100%;
        align-items: center;
        align-content: center;
        background-image: linear-gradient(to bottom, white, rgb(182, 182, 182));

    }

    .seccionPcAr {
        display: block;
        align-content: center;
        align-items: center;
        background-color: rgb(44, 44, 44);
        width: 100%;
        background-image: linear-gradient(to bottom, rgb(182, 182, 182), white);
        align-items: center;
        align-content: center;
    }

    .seccion1 {
        background-color: rgb(255, 255, 255);
        width: 100%;
        background-image: linear-gradient(to bottom, rgb(182, 182, 182), white);
        align-items: center;
        align-content: center;
    }

    .AmdIntel {
        display: inline;
        flex-direction: row;
        align-items: center;
        position: static;
        width: 350px;
        height: 350px;

        .AmdIntel__imagenAmd {
        background-color: white;
        color: black;
        border-radius: 16px;
        overflow: hidden;
        position: absolute;
        width: 300px;
        height: 400px;
        margin-bottom: 30px;
        border: 4px solid black;
        display: flex;
        align-items: center;
        align-content: center;
    }

    }

    /* ********* NOSOTROS 1024  ********* */
    .nosotrosFlex {
        display: flex;
        background-color: rgb(255, 255, 255);
        margin-top: 3px;
    }

    .nosotros__titulos {
        flex-direction: row;
        margin-bottom: 2rem;
        text-align: center;
        font-size: 2em;
    }

    .nosotros__titulos1 {
        color: rgb(126, 156, 255);
        text-align: center;
        margin-top: 1%;
        font-size: 2em;
    }

    .nosotros__titulos2 {
        color: rgb(126, 156, 255);
        text-align: center;
        margin-top: 3%;
        font-size: 2em;
    }

    .nosotros--fondo1 {
        background-color: black;
        color: white;
    }

    .nosotros--fondo2 {
        color: rgb(126, 156, 255);
        color: white;
    }

    .imagNosotros {
        display: block;
        width: 20%;
        height: 47%;
        margin-left: 40%;
        margin-bottom: 5%;
    }

    /*------- Comienzo seccion Tienda -------*/

.seccionTienda {
    display: block;
    align-content: center;
    align-items: center;
    background-color: #bababa;
    width: 100%;
  
}
    /*------- Dise単o del Box Producto-------*/
    .Productdiv {
        display: inline-block;
        color: black;
        border-radius: 16px;
        margin-right: 1%;
        overflow: hidden;
        position: relative;
        width: 320px;
        height: 450px;
        margin-bottom: 60px;
        align-items: center;
        align-content: center;
        order: 1;
        margin-left: 6%;
        transition:  all 1s;
        @include shadow(12px, 8px);
        background: #ffffff;
        border: 2px dotted #b0b0b0;
    
       }

       .productos__h1 {
        font-size: 1.7rem;
        text-align: center;
        padding-top: 2%;
        padding-bottom: 2%;
        color: rgba(255, 255, 255, 0.999);
        text-shadow: 1px 1px rgb(99, 99, 99), -5px 0 10px rgb(41, 41, 41);
    }

    .productos__h11 {
        font-size: 28px;
        text-align: center;
        padding-top: 1%;
        padding-bottom: 1%;
        color: rgba(255, 255, 255, 0.999);
        text-shadow: 1px 1px rgb(112, 112, 112), -5px 0 10px rgb(223, 223, 223);
    }

    /*------- Dise単o de Producto Precio-------*/

    .productos__precio {
        background-color: rgb(0, 0, 0);
        color: white;
        text-transform: uppercase;
        width: auto;
        display: inline-block;
        padding: 0.2rem 1rem;
        border-radius: 12px;
        position: absolute;
        left: 16px;
        bottom: 16px;
        margin: 4rem;
        right: 10px;
        text-align: center;
        text-decoration: none;
        border: 3px dotted black;
        font-size: 18px;
    }

    /* -------Dise単o de Producto Oferta -------*/

    .productos__oferta {
        background-color: navy;
        color: white;
        text-decoration: none;
        display: inline-block;
        padding: 0.8rem 1rem;
        border-radius: 2px;
        position: absolute;
        right: 10px;
        top: 0px;
        margin: 1rem;
    }
    .margen {
        bottom: -100px;
    }
    .Botoncarrito {
        border-radius: 8px;
        text-align: center;
        background-color: rgb(0, 0, 0);
        margin-left: 15%;
        font-size: auto;
        color: rgb(0, 0, 0);
        text-decoration: none;
        position: relative;
        height: 40px;
        bottom: -66px;
        width: 200px;
        left: 0%;
        right: 0%;
        box-shadow: 2px 2px rgb(0, 0, 0), -2px 0 10px rgb(41, 41, 41);
    }
    /*------- Seteo de la Imagen de Producto-------*/
    .imagProduc {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 37%;
        object-fit: cover;
        border-radius: 16px;
        left: 20%;
        margin-left:30px;
    }
    .imag--Produc {
        width: 15%;
        height: 37%;
        object-fit: contain;
        border-radius: 16px;
    }
    .productos__h2 {
        font-size: 22px;
        text-align: center;
        margin-top: 16px;
        margin-top: 64px;
        text-shadow: 1px 1px rgb(255, 255, 255), -5px 0 10px rgb(41, 41, 41);
    }
    .productos__parrafo {
        color: rgb(45, 45, 45);
        font-size: 20px;
        text-align: center;
        text-shadow: 1px 1px rgb(255, 255, 255), -5px 0 10px rgb(41, 41, 41);
    }
    /************************************
   BIENVENIDOS - SITIO FONDO PRINCIPAL 1024
  *************************************/
    .tituloImagen {
        display: flex;
        background-image: url(../imagenes/FondoPrincipal.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        object-fit: cover;
        width: 100%;
        height: 400px;
        margin-top: 0px;
    }

    .bienvenido_h1 {
        display: block;
        font-size: 52px;
        height: 300px;
        color: rgb(255, 255, 255);
        text-align: center;
        text-shadow: 2px 10px 3px rgba(18, 18, 18, 0.501);
        text-transform: uppercase;
    }



    .seccionGrid {
        display: grid;
        background-color: rgb(255, 255, 255);
        padding: 10%;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: 300px 350px;
        grid-template-areas:
        "ele1 ele2" "ele3 ele4"
        /*Fila 1*/
        "ele5 ele6" "ele7 ele8"
        /*Fila 2*/    ;
        width: 100%;
        justify-items: unset;
    }

    .grid__imagen {
        width: 100%;
        height: 100%;
        padding: 0;
        object-fit: contain;
        background-color: white;
        padding: 10px 10px 10px 10px;
        border-radius: 15px;
    }

    .header {
            background-color: rgba(0, 0, 0, 0.801);
            display: flex;
            flex-direction: row;
            position:row;
            top: 0;
            left: 0;
            width: 100%;
            color: rgb(255, 255, 255);
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            padding: 2px 2px 2px 2px;
            z-index: 10;
            order: 1;
    }

    .ImagenLogo {
        align-items: stretch;
        align-content: space-between;
        z-index: 10;
        padding: 15px 15px 15px 15px;
        height: 100px;
    }

    .nav {
        display: flex;
        width: 100%;
        color: #fff;
    }

    .nav__lista {
        flex-direction: row;
        width: 90%;
        color: rgb(255, 255, 255);
        list-style: none;
        justify-content: center;
        gap: 1em;
        text-align: center;
    }

    .nav__enlace {
        flex-direction: column;
        text-align: center;
        color: rgb(247, 241, 241);
        text-decoration: none;
        width: 100%;
        font-size: 0.6rem;
        text-transform: uppercase;
        border: rgb(255, 255, 255) solid 3px;
        border-radius: 31rem;
        margin-right: 0rem;
        align-items: center;
        align-content: center;
    }

    .body {
        background-color: #000000;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }

    .seccionGrid {
        background-color: rgb(255, 255, 255);
        padding: 1rem;
        width: 100%;
        align-content: center;
        align-items: center;
        justify-items: unset;
        padding: 0%;
        grid-template-columns: repeat(2, 1fr);
    }

    .categoriaGrid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: 300px 350px;
        gap: 8px;
        justify-items: stretch;
        align-items: stretch;
        justify-content: flex-start;
        align-content: flex-start;
        grid-template-areas:
            "ele1 ele2" "ele3 ele4"
            /*Fila 1*/
            "ele5 ele6" "ele7 ele8"
            /*Fila 2*/;
            @include shadow(12px, 8px);

    }
    .categoriasGrid {
        display: grid;
        padding: 1rem;
        min-height: 500px;
        color: rgb(0, 0, 0);
        text-decoration: none;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 300px 350px;
        gap: 8px;
        justify-items: stretch;
        align-items: stretch;
        justify-content: flex-start;
        align-content: flex-start;
        grid-template-areas:
            "ele1 ele2" "ele3 ele4"
            /*Fila 1*/
            "ele5 ele6" "ele7 ele8"
            /*Fila 2*/;
            @include shadow(12px, 8px);

           }

    .seccion {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;

    }

     /* ********* NOSOTROS  ********* */
    .nosotrosFlex {
        width: 100%;
        display: block;
        background-color: rgb(255, 255, 255);
        margin-top: 3px;
    }

    .nosotros__titulos {
        margin-bottom: 2rem;
        text-align: center;
        font-size: 20px;
    }

    .nosotros__titulos1 {
        color: blue;
        text-align: center;
        font-size: 23px;
        margin-top: 3%;
    }

    .nosotros__titulos2 {
        color: rgb(218, 21, 21);
        text-align: center;
        font-size: 20px;
    }

    .nosotros--fondo1 {
        background-color: black;
        color: white;
    }

    .nosotros--fondo2 {
        background-color: rgb(55, 55, 55);
        color: white;
    }

    .imagNosotros {
        display: block;
        width: 20%;
        height: 47%;
        margin-left: 40%;
        margin-bottom: 5%;
    }
}

.h5 {

    font-size: 20px;
    text-align: center;
}

.parrafo {
    font-size: 12px;
    text-align: center;
    

}

.btn {

    font-size: 13px;
    height: 39px;

}
.form-control {

    width: 500px;
    margin-bottom: 20px;
}

.footer {
    width: 100%;
    object-fit: contain;
    text-decoration: none;
    background-color: #062033;
    border-top: 5px solid #062033;
    color: #fff;
    background-repeat: no-repeat;
    list-style-type: none;
    height: 330px;
}
.footer-single {
    line-height: 24px;
  }
  .mainDise単o {
    background-color: #bababa;


}
.cajaShadow--1 {
    display:flex;
    margin-top: 70px;
    width: 100%;
    height: 100%;
    border: 2px solid white;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;

}

.fa-truck {
    color: gray;
    font-size: 70px;
    bottom: 10px;
    margin-top: 104px;
    margin-left: 36.33%;
}
.fa-headset {
    color: gray;
    font-size: 70px;
    bottom: 10px;
    margin-top: 14px;
    margin-left: 36.33%;
}
.fa-percent {
    color: gray;
    font-size: 70px;
    bottom: 10px;
    margin-top: 14px;
    margin-left: 36.33%;
}
.fa-wallet {
    color: gray;
    font-size: 70px;
    bottom: 10px;
    margin-top: 14px;
    margin-left: 36.33%;
}
.h3_detalle {
    margin-top: 20px;
    color: #000000e3;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 1.7em;
    letter-spacing: 5.5px;
    text-shadow: 9px -4px 6px #ffffff;
    text-align: center;
    }
  .p_detalle {
    text-shadow: 0.2px 0.2px rgb(255, 255, 255), -5px 0 10px rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    color: rgb(44, 44, 44);
    text-align: center;
    text-transform: uppercase;
}

.row {
    margin-top: 30px;
    margin-right: 0 ;
    margin-left: 0;


}
.about-section {
    width: 100%;
    margin-bottom: 40px; 
    padding: 20px; 
}
